.commonTable {
    padding: 10px;
    box-shadow: 5px 5px rgba(159, 157, 157, 0.288) !important;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.commonTable table {
    width: 100%;
    height: 90%;
    overflow: auto;
}

.commonTable table th,
.commonTable table td {
    border-bottom: 1px solid rgba(128, 128, 128, 0.397);
    padding: 7px;
    text-align: center;

}


.commonTable table tbody tr:hover {
    background-color: rgba(166, 163, 163, 0.202);
}

 .icons a {
    text-decoration: none;
    padding-right: 10px;
}

.icons .edit {
    color: green;

}

 .icons .delete {
    color: red;

}

 .icons .show {
    color: blue;

}
.name{
    text-transform: capitalize;
}
/* ////////// */
@media (min-width:100px) and (max-width:900px) {
    .commonTable {
        width: 80vw !important;
        overflow: auto !important;
        height: 90%;
        margin-top: 20px;
    }

    .commonTable table {
        width: fit-content;
        height: 90%;
        /* overflow: scroll !important; */
    }

}