.navBar {
    width: 100vw;
    height: 7%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    top: 0px;
}

.navBar div {
    display: flex;
    justify-content: space-between;
    width: 30%
}

.navBar ul {
    list-style: none;
    display: flex;
}

.navBar ul li {
    padding-right: 50px;
}