.navBar {
  width: 100vw;
  height: 8vh;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.287); */
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: sticky;
  top: 0px;
  background-color: rgba(41, 41, 195, 0.456);
}

.navBar div {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navBar .left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
}
.navBar ul {
  list-style: none;
  display: flex;
}

.navBar ul li {
  padding-right: 50px;
}
