.layout {
  display: flex;
  justify-content: space-between;
    position: relative;
    height: 90vh;
    padding-top: 50px;
}

.main {
  width: 90vw;
  position: relative;
  padding: 12px 24px;
  overflow-y: auto;
}